// Card
// Colors
$primary-gradient: linear-gradient(117.07deg, #7555ce 14.65%, #8c9cf7 79.32%);
$white: #fff;
$dark-bg: rgb(33, 32, 32);

// Font Sizes
$font-lg: 40px;
$font-md: 24px;
$font-sm: 16px;

// Spacing
$border-radius: 20px;
$padding: 16px;

// Form 

// Colors
$primary-color: #0033a0;
$error-color: #e63946;
$border-color: #ccc;
$input-bg: #f8f8f8;
$white: #ffffff;
$text-background: #113F91;


// Font Family

$header-font: 'Barlow Condensed';

// Font Sizes
$font-lg: 24px;
$font-md: 18px;
$font-sm: 14px;

// Spacing
$input-padding: 12px;
$border-radius: 8px;
$button-padding: 14px;
